<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmpe283.vmhealthmonitor" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LauncherActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".activity.EnlistHostActivity"
            android:label="@string/title_activity_enlist_host" >
        </activity>
        <activity
            android:name=".activity.EnlistVMSActivity"
            android:label="@string/title_activity_enlist_vms" >
        </activity>
        <activity
            android:name=".activity.HealthMonitorActivity"
            android:label="@string/title_activity_health_monitor" >
        </activity>
        <activity
            android:name=".activity.ViewHostActivity"
            android:label="@string/title_activity_view_host" >
        </activity>
    </application>

</manifest>
